extends _components/_layout/_layout.pug

block var
	- let title = 'Index'
	- let bodyClass = 'index'

block banner,breadcrumb
	.ldp-banner
		.desktop
			a(href="#")
				img(src="./assets/banner.jpg", alt="")
		.mobile
			a(href="#")
				img(src="./assets/banner_mobile.jpg", alt="")
block main
	section.block-form-countdown.congratulation
		.container
			.block-form-wrapper
				.block-title.text-center
					h2.wow.fadeInUp 
						p CHÚC MỪNG BẠN ĐÃ NHẬN ĐƯỢC
						br
						b voucher 350.000 VND từ Skechers!
						br
						span Hãy đến ngay hệ thống cửa hàng Skechers để shopping nhé!
				.block-content
					h4.text-center Cách thức mua hàng
					p Khách hàng vui lòng đọc chính xác thông tin đã đăng ký (Bao gồm Họ tên, Số điện thoại, Email) với Skechers cho nhân viên thu ngân tại cửa hàng để được kiểm tra và giảm giá.
					p Voucher chỉ áp dụng cho các dòng giày 
						b Ultra Flex 
						| và 
						b Ultra Flex 2.0 
					p Hạn sử dụng voucher đến hết ngày 25/03/2020.
				.form-button
					a(href="http://bit.ly/2m2pMrY") DANH SÁCH CỦA HÀNG ÁP DỤNG VOUCHER
	section.block-branch
		.container
			.block-title
				h2.main-title.wow.fadeInUp
					a(href="http://bit.ly/2m2pMrY") Hệ thống bán hàng
				.province-select
					span.wow.fadeInUp(data-wow-delay="0.1s") Lọc tỉnh thành
					select#province-select.wow.fadeInUp(data-wow-delay="0.2s" name="province" data-url="/test")
						option Chọn tỉnh thành
						option(value='1') Hồ Chí Minh
						option(value='2') Hà Nội
						option(value='3') Đà Nẵng
		.container.branch-list
			.row.no-gutters.wow.fadeInUp
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
			.row
				.col-12
					+pagination
block scripts