extends _components/_layout/_layout.pug

block var
	- let title = 'Index'
	- let bodyClass = 'index-page'

block banner,breadcrumb
	.ldp-banner
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					a.slide-inner(href="#" style="background-image: url(./assets/banner.jpg)")
						img(src="./assets/banner.jpg", alt="")
				.swiper-slide
					a.slide-inner(href="#" style="background-image: url(./assets/banner.jpg)")
						img(src="./assets/banner.jpg", alt="")
				.swiper-slide
					a.slide-inner(href="#" style="background-image: url(./assets/banner.jpg)")
						img(src="./assets/banner.jpg", alt="")
block main
	section.block-hot-product
		.container
			h2.main-title.text-center.wow.fadeInUp Sản phẩm bán chạy
			.row
				.col-6.col-md-3.block-hot-product-item.wow.fadeInUp(data-wow-delay="0.15s")
					a(href="#")
						img(src="./assets/hot_product_1.jpg", alt="")
				.col-6.col-md-3.block-hot-product-item.wow.fadeInUp(data-wow-delay="0.25s")
					a(href="#")
						img(src="./assets/hot_product_2.jpg", alt="")
				.col-6.col-md-3.block-hot-product-item.wow.fadeInUp(data-wow-delay=".35s")
					a(href="#")
						img(src="./assets/hot_product_3.jpg", alt="")
				.col-6.col-md-3.block-hot-product-item.wow.fadeInUp(data-wow-delay="0.45s")
					a(href="#")
						img(src="./assets/hot_product_4.jpg", alt="")
			.banner.wow.fadeInUp
				a(href="#")
					img(src="./assets/banner_2.jpg", alt="")
	section.block-product.d-none
		.container
			h2.main-title.text-center.wow.fadeInUp Sản phẩm khuyến mãi
			.row
				-for(let i = 1; i < 25; i++)
					.col-6.col-md-4.col-lg-3
						.product-item
							a(href='sanpham-ct.html')
								.img
									img(src="./assets/product/p_" + i + ".jpg", alt="")
								.info
									h3 Energy - Pure Serenity
									p 
										del 3.200.00 vnđ
										span 2.900.000 vnđ
			.row
				.col-12
					+pagination
	.ldp-banner-2.wow.fadeInUp
		a(href="#")
			img(src="./assets/banner_3.jpg", alt="")
	section.block-branch
		.container
			.block-title
				h2.main-title.wow.fadeInUp Hệ thống đang sale
				.province-select
					span.wow.fadeInUp(data-wow-delay="0.1s") Lọc tỉnh thành
					select#province-select.wow.fadeInUp(data-wow-delay="0.2s" name="province" data-url="/test")
						option Chọn tỉnh thành
						option(value='1') Hồ Chí Minh
						option(value='2') Hà Nội
						option(value='3') Đà Nẵng
		.container.branch-list
			.row.no-gutters.wow.fadeInUp
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
				.col-lg-6
					.branch-item
						.logo
							img(src="./assets/logo.svg", alt="")
						.name
							h3 Skechers Aeon Binh Tân
						.direction
							a(href="http://maps.google.com/?q=10.8443976,106.6618196" target="_blank") Chỉ đường
			.row
				.col-12
					+pagination
block scripts