footer
	.container
		.row
			.col-xl-11
				.row
					.col-lg-3.col-xl.desktop
						h3 Về chúng tôi
						nav.nav-list
							a(href="#") Skechers.com
							a(href="cuahang.html") Định vị cửa hàng
							a(href="#") Quảng cáo
							a(href="lienhe.html") Liên hện đầu tư
					.col-lg-3.col-xl.desktop
						h3 Chính sách
						nav.nav-list
							a(href="chinhsach.html") Chính sách bảo mật
							a(href="chinhsach.html") Chính sách cookie
							a(href="chinhsach.html") Các điểu khoản và điều kiện
					.col-lg-2.col-xl.desktop
						h3 Sản phẩm
						nav.nav-list
							a(href="sanpham.html") Women's Shoes
							a(href="sanpham.html") Men's Shoes
							a(href="sanpham.html") Girl's Shoes
							a(href="sanpham.html") Boy's Shoes
							a(href="sanpham-bst.html") Bộ sưu tập
					.col-lg-4.col-xl
						.desktop
							h3 Liên kết
							nav.nav-social
								a(href="#")
									<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38">
										<g transform="translate(-1259 -5915)">
											<g class='background' transform="translate(1259 5915)" fill="#fff" stroke="#bcbcbc" stroke-width="0.5">
												<circle cx="19" cy="19" r="19" stroke="none"/>
												<circle cx="19" cy="19" r="18.75" fill="none"/>
											</g>
											<g transform="translate(1270.69 5925.253)">
												<path class='icon' d="M1497.666,87.079c-1.237-.1-1.757-.709-2.727-1.3-.533,2.8-1.185,5.479-3.115,6.88-.6-4.228.875-7.4,1.557-10.774-1.165-1.96.14-5.905,2.6-4.933,3.022,1.2-2.617,7.288,1.168,8.049,3.953.794,5.566-6.858,3.115-9.347-3.541-3.594-10.308-.082-9.476,5.062.2,1.258,1.5,1.639.519,3.375-2.266-.5-2.943-2.29-2.855-4.673.14-3.9,3.505-6.632,6.88-7.011,4.268-.478,8.274,1.568,8.827,5.582.622,4.532-1.927,9.439-6.491,9.087Zm0,0" transform="translate(-1488.442 -72.341)" fill="#3462ab"/>
											</g>
										</g>
									</svg>
								a(href="#")
									<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38">
										<g transform="translate(-1323 -5915)">
											<g class='background' transform="translate(1323 5915)" fill="#fff" stroke="#bcbcbc" stroke-width="0.5">
												<circle cx="19" cy="19" r="19" stroke="none"/>
												<circle cx="19" cy="19" r="18.75" fill="none"/>
											</g>
											<path class='icon' d="M1097.119,76.557h-2.887v9.291h-4.28V76.557h-2.035V72.92h2.035V70.566a4.013,4.013,0,0,1,4.318-4.318l3.171.014v3.53h-2.3a.871.871,0,0,0-.908.991v2.141h3.261Zm.5.109" transform="translate(249.006 5859.006)" fill="#3462ab"/>
										</g>
									</svg>
								a(href="#")
									<svg xmlns="http://www.w3.org/2000/svg" width="39" height="38" viewBox="0 0 39 38">
										<g transform="translate(-1387 -5915)">
											<g class='background' transform="translate(1387 5915)" fill="#fff" stroke="#bcbcbc" stroke-width="0.5">
												<ellipse cx="19.5" cy="19" rx="19.5" ry="19" stroke="none"/>
												<ellipse cx="19.5" cy="19" rx="19.25" ry="18.75" fill="none"/>
											</g>
											<g transform="translate(1397.122 5926.46)">
												<path class='icon' d="M1238.582,68.956a7.856,7.856,0,0,1-2.261.62,3.95,3.95,0,0,0,1.731-2.177,7.885,7.885,0,0,1-2.5.955,3.94,3.94,0,0,0-6.709,3.591,11.176,11.176,0,0,1-8.114-4.114,3.94,3.94,0,0,0,1.218,5.256,3.92,3.92,0,0,1-1.783-.493c0,.017,0,.033,0,.05a3.939,3.939,0,0,0,3.158,3.86,3.943,3.943,0,0,1-1.778.068,3.941,3.941,0,0,0,3.678,2.734,7.946,7.946,0,0,1-5.828,1.63,11.2,11.2,0,0,0,17.236-9.432q0-.256-.012-.509a8,8,0,0,0,1.965-2.038Zm0,0" transform="translate(-1219.393 -67.11)" fill="#3462ab"/>
											</g>
										</g>
									</svg>
						.mobile
							nav.nav-social
								a(href="#")
									img(src="./assets/icons/icon_mobile_facebook.jpg", alt="")
								a(href="#")
									img(src="./assets/icons/icon_mobile_instagram.jpg", alt="")
								a(href="#")
									img(src="./assets/icons/icon_mobile_twitter.jpg", alt="")
								a(href="#")
									img(src="./assets/icons/icon_mobile_youtube.jpg", alt="")
						p Đăng ký mail để nhận thêm thông tin khuyến mãi
						form#footer-subscribe
							input(type="text", placeholder="Nhập Email")
							button Gửi
								span.mobile  Email
	.mobile.copyright
		span © 2019 Sketchervn. All rights reserved.