footer
	.container
		.row
			.col-xl-11
				.row
					.col-lg-3.col-xl.desktop
						h3 Về chúng tôi
						nav.nav-list
							a(href="#") Skechers.com
							a(href="#") Định vị cửa hàng
							a(href="#") Quảng cáo
							a(href="#") Liên hện đầu tư
					.col-lg-3.col-xl.desktop
						h3 Chính sách
						nav.nav-list
							a(href="#") Chính sách bảo mật
							a(href="#") Chính sách cookie
							a(href="#") Các điểu khoản và điều kiện
							a(href="#") Đạo luật minh bạc California
					.col-lg-2.col-xl.desktop
						h3 Sản phẩm
						nav.nav-list
							a(href="#") Women's Shoes
							a(href="#") Men's Shoes
							a(href="#") Girl's Shoes
							a(href="#") Boy's Shoes
							a(href="#") Bộ sưu tập
					.col-lg-4.col-xl
						.desktop
							h3 Liên kết
							nav.nav-social
								a(href="#")
									img(src="./assets/icons/icon_pinterest.svg", alt="")
								a(href="#")
									img(src="./assets/icons/icon_facebook.svg", alt="")
								a(href="#")
									img(src="./assets/icons/icon_twitter.svg", alt="")
						.mobile
							nav.nav-social
								a(href="#")
									img(src="./assets/icons/icon_mobile_facebook.jpg", alt="")
								a(href="#")
									img(src="./assets/icons/icon_mobile_instagram.jpg", alt="")
								a(href="#")
									img(src="./assets/icons/icon_mobile_twitter.jpg", alt="")
								a(href="#")
									img(src="./assets/icons/icon_mobile_youtube.jpg", alt="")
						p Đăng ký mail để nhận thêm thông tin khuyến mãi
						form#footer-subscribe
							input(type="text", placeholder="Nhập Email")
							button Gửi
								span.mobile  Email
	.mobile.copyright
		span © 2019 Sketchervn. All rights reserved.