#go-top {
	position: fixed;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-shadow: 2px 3px 6px rgba(black, .15);
	bottom: 240px;
	transform: translateY(50%);
	background: #ffffff;
	right: 70px;
	cursor: pointer;
	z-index: 5;
	display: none;
	opacity: 0;
	transition: all .3s ease-out;
	
	&.show {
		opacity: 1;
	}
	
	svg {
		width: 100%;
	}
	
	@media (max-width: 1024.98px) {
		width: 50px;
		height: 50px;
		padding: 15px;
		right: 20px;
		bottom: 150px;
	}
}