header {
	background: #002d56;

	.row {
		height     : 110px;
		align-items: center;
		padding    : 18px 0;

		@media (max-width: 1199.98px) {
			height: 85px;
		}

		@media (max-width: 768px) {
			height: 60px;
		}
	}

	.logo {
		position: relative;

		a {
			height : 100%;
			display: flex;
		}

		svg {
			height: 100%;
			width : auto;
		}

		@media (max-width: 1024px) {
			width: 50%;
		}
	}

	.main-nav {
		margin-left: auto;
	}

	.header-nav {
		list-style-type: none;
		padding-left   : 0;
		display        : flex;

		.header-nav-item {
			a {
				font-size     : 18px;
				color         : #ffffff;
				text-transform: uppercase;
				transition    : all .2s ease-in-out;
				border-bottom : 2px solid transparent;
			}

			&.active,
			&:hover {
				a {
					color: #3462AB;
				}
			}

			+.header-nav-item {
				margin-left: 50px;
			}

			@media (max-width: 1024px) {
				a {
					font-size: 14px;
				}

				+.header-nav-item {
					margin-left: 20px;
				}
			}
		}
	}
}