.pagination {
	padding-top: 40px;

	.pagination-list {
		padding-left: 0;
		list-style-type: none;
		display: flex;
		justify-content: center;
	}

	.pagination-next {
		svg {
			transform: rotate(180deg);

			path {
				transition: all .3s ease-out;
			}
		}
	}

	li {
		flex: 0 0 55px;
		max-width: 55px;
		margin: 0 7px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 45px;
		transition: all .3s ease-out;

		a {
			font-size: 18px;
			border: 1px solid darken(white, 25%);
			color: #1C1C1C;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&.active,
		&:hover {
			a {
				background: #DCDCDC;
				color: map_get($mau, main);
				border: 1px solid lighten(#707070, 10%);
			}
		}
	}

	@media (max-width: 1199.98px) {
		li {
			flex: 0 0 40px;
			max-width: 40px;
			height: 30px;

			a {
				font-size: 16px;
			}
		}
	}

	@media (max-width: 768px) {
		.pagination-list {
			justify-content: center;
		}

		li {
			flex: 0 0 30px;
			max-width: 30px;
			height: 25px;

			a {
				font-size: 14px;
			}
		}
	}
}