.product-item {
	margin-bottom: 20px;

	.img {
		padding: 15px;

		img {
			width: 100%;
		}
	}

	.info {
		text-align: center;
		padding: 15px 0;
		font-size: 20px;

		h3 {
			font-weight: 700;
			color: #1D1D1D;
		}

		p {
			display: flex;
			justify-content: space-around;

			del {
				color: #707070;
				margin: 0 8px;
			}

			span {
				color: #D80202;
				margin: 0 8px;
			}

			@media (max-width: 768px) {
				flex-wrap: wrap;

				del {
					order: 2,
				}

				span {
					order: 1,
				}

				del,
				span {
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
		}
	}

	@media (max-width: 1200px) {
		.info {
			font-size: 17px;
		}
	}

	@media (max-width: 768px) {
		.img {
			padding: 0 10px;
		}

		.info {
			padding: 0 10px;
			font-size: 14px;
		}
	}
}