[hidden],
.d-none,
.hidden {
	display: none !important;
}

html,
body {
	font-family: 'Roboto Condensed', sans-serif;
}

.ofcv {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover, object-position: center';
	background-size: cover;
}

.ofct {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	font-family: 'object-fit: contain, object-position: center';
	background-size: contain;
}

.blur-up {
	filter: blur(10px);
	transition: filter 1s;

	&.lazy-loaded {
		filter: blur(0);
	}
}

.row-center {
	justify-content: center;
}

.text-center {
	text-align: center;
}

.main-title {
	font-size: 50px;
	text-transform: uppercase;
	margin-bottom: 75px;

	@media (max-width: 1659px) {
		font-size: 45px;
		margin-bottom: 70px;
	}

	@media (max-width: 1439px) {
		font-size: 40px;
		margin-bottom: 65px;
	}

	@media (max-width: 1199px) {
		font-size: 35px;
		margin-bottom: 60px;
	}

	@media (max-width: 1024.98px) {
		font-size: 30px;
		margin-bottom: 55px;
	}

	@media (max-width: 768px) {
		font-size: 25px;
		margin-bottom: 30px;
	}
}