<style>
    .box-body {
        border-top: 3px solid #d2d6de;
        margin-bottom: 20px;
        border-top-color: #00c0ef;
    }
    .k-grid table {
        width: 100%;
        margin: 0;
        border-collapse: separate;
        border-spacing: 0;
        empty-cells: show;
        border-width: 0;
        outline: 0;
    }
    .k-grid.k-widget {
        border: 1px solid #e8e8e8;
        border-top: 0;
    }
    .k-grid table tr:first-child > td {
        border-top: 0;
    }
    .k-grid-header .k-header {
        white-space: normal;
        background-image: none;
        background-color: #f4f4f4;
        border: 1px solid #e3e3e3;
        border-left: 0;
        font-weight: 700;
        padding: 10px 8px;
    }
    .k-grid table td {
        border: 0;
        border-top: 1px solid #f3f3f3;
        border-right: 1px solid #e3e3e3;
    }
    .k-grid table tr.k-alt td {
        background-color: #fbfbfb;
    }
    .k-grid td {
        border-style: solid;
        border-width: 0 0 0 1px;
        padding: .4em .6em;
        overflow: hidden;
        line-height: 1.6em;
        vertical-align: middle;
        text-overflow: ellipsis;
    }
</style>
@model MainProject.ServiceAdmin.Model.Home.HomeViewModel

<!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper" style="min-height: 704px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Trang chủ
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li class="active">Dashboard</li>
        </ol>
    </section>
     <div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>
    <!-- Main content -->
</div><!-- /.content-wrapper -->