.contact-wrapper
	.container
		.row
			.col-12.mobile-title
				h2 Liên hệ đầu tư
			.map.col-12
				#map
			.col-xl-11.contact-information-wrapper
				.row
					.col-lg-6
						h2.contact-title Liên hệ với chúng tôi
						form.contact-form
							p Have a question or comment? Use the form below to send us a message or contact us by mail at:
							.form-group
								input(type='text' placeholder='Họ và tên')
							.form-group
								input(type='text' placeholder='Điện thoại')
							.form-group
								input(type='text' placeholder='Email')
							.form-group
								textarea(placeholder='Nội dung')
							.form-button
								button.btn.btn-contact Gửi
					.col-lg-6
						h2.contact-title Please do get in touch
						.contact-list
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis :
							.contact-item
								h3 Skechers 953 SKECH-953CMTTW7T
								p 953 Cach Mang Thang Tam, ward 7, Tan Binh dist, HCM Cty
								p 8439.259.582
							.contact-item
								h3 SKECHERS Nguyen Trai SNT-115NTSD1HC
								p 115 Nguyen Trai St., Dist. 1, HCM Cty
								p 8439.259.582
							hr
							.contact-information
								p
									strong Email:
									a(href='mailto:sketcher@hello.com') sketcher@hello.com
								p
									strong Tell-free:
									a(href='tel:1900000') +1900 000

