.index-1
	.container-fluid-custom.category-list
		.row
			.col-xl-3.col-6
				a.category-item(href="#")
					h3 Men
					img(src="./assets/home/h_1.jpg", alt="")
			.col-xl-3.col-6
				a.category-item(href="#")
					h3 Women
					img(src="./assets/home/h_2.jpg", alt="")
			.col-xl-3.col-6
				a.category-item(href="#")
					h3 Girls
					img(src="./assets/home/h_3.jpg", alt="")
			.col-xl-3.col-6
				a.category-item(href="#")
					h3 Boys
					img(src="./assets/home/h_4.jpg", alt="")
.index-1.index-sub-banner
	.container-fluid-custom.category-banner
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					a(href="#")
						img(src="./assets/home/h_5.jpg", alt="")
				.swiper-slide
					a(href="#")
						img(src="./assets/home/h_5.jpg", alt="")
				.swiper-slide
					a(href="#")
						img(src="./assets/home/h_5.jpg", alt="")
