.index-2
	.container-fluid-custom
		h2.main-title.center Sản phẩm mới
		.new-product-list
			.swiper-nav
				.swiper-prev
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="41" viewBox="0 0 20 41"><path id="Path_1553" data-name="Path 1553" d="M13.269,0,0,14.7,13.585,29.4" transform="translate(0.5 0.5)" fill="none" stroke="#1c1c1c" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/></svg>
				.swiper-next
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="41" viewBox="0 0 20 41"><path id="Path_1552" data-name="Path 1552" d="M13.269,0,0,14.7,13.585,29.4" transform="translate(14.085 29.897) rotate(180)" fill="none" stroke="#1c1c1c" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/></svg>
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						a.new-product-item(href="#")
							.img
								img(src="./assets/product/p_1.png", alt="")
							.info
								h3 Energy - Pure Serenity
								p 2.900.000 vnđ
					.swiper-slide
						a.new-product-item(href="#")
							.img
								img(src="./assets/product/p_2.png", alt="")
							.info
								h3 Solar Fuse - Valedge
								p 2.900.000 vnđ
					.swiper-slide
						a.new-product-item(href="#")
							.img
								img(src="./assets/product/p_3.png", alt="")
							.info
								h3 Arctic-Tron - Zollow
								p 2.900.000 vnđ
					.swiper-slide
						a.new-product-item(href="#")
							.img
								img(src="./assets/product/p_4.png", alt="")
							.info
								h3 Ice D'Lites - Snow Spark
								p 2.900.000 vnđ
					.swiper-slide
						a.new-product-item(href="#")
							.img
								img(src="./assets/product/p_5.png", alt="")
							.info
								h3 Skechers Monster
								p 2.900.000 vnđ
					.swiper-slide
						a.new-product-item(href="#")
							.img
								img(src="./assets/product/p_6.png", alt="")
							.info
								h3 D'Lites 3 - Joy Summer
								p 2.900.000 vnđ
