.index-3
	.container-fluid-custom
		h2.main-title Bộ sưu tập
		.desktop
			.row.home-gallery-list
				.col-lg-6
					a.gallery-item(href="sanpham-bst.html")
						.img
							img(src="./assets/gallery/g_1.jpg", alt="")
						.info
							span Xem chi tiết>>
				.col-lg-6
					a.gallery-item(href="sanpham-bst.html")
						.img
							img(src="./assets/gallery/g_2.jpg", alt="")
						.info
							span Xem chi tiết>>
				.col-lg-6
					a.gallery-item(href="sanpham-bst.html")
						.img
							img(src="./assets/gallery/g_3.jpg", alt="")
						.info
							span Xem chi tiết>>
				.col-lg-6
					a.gallery-item(href="sanpham-bst.html")
						.img
							img(src="./assets/gallery/g_4.jpg", alt="")
						.info
							span Xem chi tiết>>
			.row.home-gallery-viewmore
				.col-12
					a.home-gallery-viewmore-button(href="#") Xem bộ sưu tập khác
		.mobile
			.row.home-gallery-list.mobile
				.col-12
					a.row(href="#")
						.col-8
							.img-big
								img(src="./assets/gallery/g_5.jpg", alt="")
						.col-4
							.img-small
								img(src="./assets/gallery/g_9.png", alt="")
								.info
									h3 skechers street cleats
					a.row(href="#")
						.col-4
							.img-small
								img(src="./assets/gallery/g_10.png", alt="")
								.info
									h3 skechers sport energy
						.col-8
							.img-big
								img(src="./assets/gallery/g_6.jpg", alt="")
					a.row(href="#")
						.col-8
							.img-big
								img(src="./assets/gallery/g_7.jpg", alt="")
						.col-4
							.img-small
								img(src="./assets/gallery/g_11.png", alt="")
								.info
									h3 skechers D'LITES 3.0
					a.row(href="#")
						.col-4
							.img-small
								img(src="./assets/gallery/g_12.png", alt="")
								.info
									h3 skechers go walk joy
						.col-8
							.img-big
								img(src="./assets/gallery/g_8.jpg", alt="")
			.row.home-gallery-viewmore
				.col-12
					a.home-gallery-viewmore-button(href="#") Xem thêm