.index-4
	h2.main-title.center Video sản phẩm
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a.img-wrapper(href="https://www.youtube.com/watch?v=LRdkUPmOL18" data-fancybox="vid_1")
					.play-button
						img(src="./assets/icons/icon_play.png", alt="")
					.img
						img(src="./assets/home/h_6.jpg", alt="")
				.info
					p Skechers Ice Lights commercial :30s
				.button
					a.btn.btn-viewmore(href="#") Xem thêm
			.swiper-slide
				a.img-wrapper(href="https://www.youtube.com/watch?v=9PPbMHw77Lk" data-fancybox="vid_2")
					.play-button
						img(src="./assets/icons/icon_play.png", alt="")
					.img
						img(src="./assets/home/h_6.jpg", alt="")
				.info
					p Skechers Ice Lights commercial :30s
				.button
					a.btn.btn-viewmore(href="#") Xem thêm
			.swiper-slide
				a.img-wrapper(href="https://www.youtube.com/watch?v=YsIcyJJBdGA" data-fancybox="vid_3")
					.play-button
						img(src="./assets/icons/icon_play.png", alt="")
					.img
						img(src="./assets/home/h_6.jpg", alt="")
				.info
					p Skechers Ice Lights commercial :30s
				.button
					a.btn.btn-viewmore(href="#") Xem thêm