footer
	.container
		.row
			.copyright
				p(style="font-weight: 500") Copyright © 2019 SKECHERS VIETNAM, Inc.
				p Privacy Policy Cookies Policy Terms of Use
			.social-link
				p Chia sẻ liên kết
				nav
					a(href='#')
						svg.svg-inline--fa.fa-instagram.fa-w-14.fa-3x(aria-hidden='true', focusable='false', data-prefix='fab', data-icon='instagram', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512', width="38", height="38", style="padding: 5px")
							path.icon(fill='#3462ab', d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z')
					a(href='#')
						svg(xmlns='http://www.w3.org/2000/svg', width='38', height='38', viewBox='0 0 38 38')
							g(transform='translate(-1323 -5915)')
								path.icon(d='M1097.119,76.557h-2.887v9.291h-4.28V76.557h-2.035V72.92h2.035V70.566a4.013,4.013,0,0,1,4.318-4.318l3.171.014v3.53h-2.3a.871.871,0,0,0-.908.991v2.141h3.261Zm.5.109', transform='translate(249.006 5859.006)', fill='#3462ab')
					a(href='#')
						svg(xmlns='http://www.w3.org/2000/svg', width='39', height='38', viewBox='0 0 39 38')
							g(transform='translate(-1387 -5915)')
								g(transform='translate(1397.122 5926.46)')
									path.icon(d='M1238.582,68.956a7.856,7.856,0,0,1-2.261.62,3.95,3.95,0,0,0,1.731-2.177,7.885,7.885,0,0,1-2.5.955,3.94,3.94,0,0,0-6.709,3.591,11.176,11.176,0,0,1-8.114-4.114,3.94,3.94,0,0,0,1.218,5.256,3.92,3.92,0,0,1-1.783-.493c0,.017,0,.033,0,.05a3.939,3.939,0,0,0,3.158,3.86,3.943,3.943,0,0,1-1.778.068,3.941,3.941,0,0,0,3.678,2.734,7.946,7.946,0,0,1-5.828,1.63,11.2,11.2,0,0,0,17.236-9.432q0-.256-.012-.509a8,8,0,0,0,1.965-2.038Zm0,0', transform='translate(-1219.393 -67.11)', fill='#3462ab')