header
	.container
		.row.no-gutters
			.logo
				a(href="#")
					// LOGO CŨ
					img.blue-logo.svg(src="./assets/logo.svg", alt="", srcset="")
					// LOGO MỚI
					img.white-logo(src="./assets/logo.png", alt="", srcset="")
			//- .main-nav
			//- 	ul.header-nav
			//- 		li.header-nav-item
			//- 			a(href="/index-2.html") EOSS
			//- 		li.header-nav-item.default
			//- 			a(href="/") Solar Fuse