header
	.container
		.row.no-gutters
			.logo
				a(href="#")
					// LOGO CŨ
					img.svg(src="./assets/logo.svg", alt="", srcset="")
					// LOGO MỚI
					// img(src="./assets/logo.png", alt="", srcset="")
			.main-nav
				ul.header-nav
					li.header-nav-item.active
						a(href="http://skechersvn.com/") EOSS
					li.header-nav-item
						a(href="http://eoss.skechersvn.com/") Solar Fuse