.filter-wrapper
	.block-filter
		h2.block-title Màu sắc
		nav.color-list
			a.item(href='#' data-bg='#E4322D')
			a.item(href='#' data-bg='#3462AB')
			a.item(href='#' data-bg='#E8CEB9')
			a.item(href='#' data-bg='#F2F1DF')
			a.item(href='#' data-bg='#EAE5EC')
			a.item(href='#' data-bg='#E9DED8')
			a.item(href='#' data-bg='#B2643D')
			a.item(href='#' data-bg='#E57A00')
			a.item(href='#' data-bg='#FFFFFF')
			a.item(href='#' data-bg='#000000')
			a.item(href='#' data-bg='#707070')
			a.item(href='#' data-bg='#18412F')
	hr
	.block-filter
		h2.block-title Thương hiệu
		nav.manufacture-list
			.form-check
				input(name='manufacture_check' type='checkbox' id='manufacture_1')
				label(for='manufacture_1') New Arrivals
			.form-check
				input(name='manufacture_check' type='checkbox' id='manufacture_2')
				label(for='manufacture_2') What's Hot
			.form-check
				input(name='manufacture_check' type='checkbox' id='manufacture_3')
				label(for='manufacture_3') Sport
			.form-check
				input(name='manufacture_check' type='checkbox' id='manufacture_4')
				label(for='manufacture_4') Casuals
			.form-check
				input(name='manufacture_check' type='checkbox' id='manufacture_5')
				label(for='manufacture_5') New Arrivals
			.form-check
				input(name='manufacture_check' type='checkbox' id='manufacture_6')
				label(for='manufacture_6') Relaxed Fit
			.form-check
				input(name='manufacture_check' type='checkbox' id='manufacture_7')
				label(for='manufacture_7') Performance
			.form-check
				input(name='manufacture_check' type='checkbox' id='manufacture_8')
				label(for='manufacture_8') Stretch Fit
			.form-check
				input(name='manufacture_check' type='checkbox' id='manufacture_9')
				label(for='manufacture_9') D-lites
			.form-check
				input(name='manufacture_check' type='checkbox' id='manufacture_10')
				label(for='manufacture_10') Skecher Street
			.form-check
				input(name='manufacture_check' type='checkbox' id='manufacture_11')
				label(for='manufacture_11') Mark Nason Los Angeles
			.form-check
				input(name='manufacture_check' type='checkbox' id='manufacture_12')
				label(for='manufacture_12') Work
			.form-check
				input(name='manufacture_check' type='checkbox' id='manufacture_13')
				label(for='manufacture_13') Sandals
			.form-check
				input(name='manufacture_check' type='checkbox' id='manufacture_14')
				label(for='manufacture_14') Boots
			.form-check
				input(name='manufacture_check' type='checkbox' id='manufacture_15')
				label(for='manufacture_15') Bobs
			.form-check
				input(name='manufacture_check' type='checkbox' id='manufacture_16')
				label(for='manufacture_16') Wide Fit (d) Shoes