.block-form-countdown {
	padding-top: 95px;

	.block-form-wrapper {
		max-width: 850px;
		width: 100%;
		padding: 40px 100px;
		margin: 0 auto;
		background-color: rgba(#D8E0E3, .2);
		border-radius: 40px;

		@media (max-width: 1199.98px) {
			padding: 30px 75px;
			border-radius: 30px;
		}

		@media (max-width: 1024px) {
			padding: 20px 50px;
			border-radius: 20px;
		}

		@media (max-width: 768px) {
			padding: 20px 15px;
			border-radius: 10px;
		}
	}

	.block-title {
		max-width: 960px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 15px;

		h2 {
			font-size: 43px;
			text-transform: uppercase;
			color: #707070;
			margin-bottom: 5px;
			font-weight: 400;

			b {
				font-size: 60px;
				color: #D80202;
				line-height: 1.1;
				font-weight: 700;
			}

			p {
				font-size: 45px;
				font-weight: 700;
				display: inline-block;
			}

			span {
				font-size: 30px;
			}

			@media (max-width: 1439.98px) {
				font-size: 32px;

				b {
					font-size: 50px;
				}

				p {
					font-size: 35px;
				}

				span {
					font-size: 26px;
				}
			}

			@media (max-width: 1024px) {
				font-size: 28px;

				b {
					font-size: 40px;
				}

				p {
					font-size: 30px;
				}

				span {
					font-size: 21px;
				}
			}

			@media (max-width: 768px) {
				font-size: 20px;

				b {
					font-size: 28px;
				}

				p {
					font-size: 22px;
				}

				span {
					font-size: 16px;
				}
			}
		}

		p {
			font-size: 20px;

			b {
				text-transform: uppercase;
				color: #D80202;
			}

			@media (max-width: 1024px) {
				font-size: 18px;
			}

			@media (max-width: 768px) {
				font-size: 16px;

				br {
					display: none;
				}
			}
		}
	}

	.form-group {
		position: relative;

		input[type="text"] {
			height: 65px;
			background-color: white;
			padding: 7px 45px 7px 80px;
			border: 0;
			width: 100%;
			font-size: 20px;
			border-bottom: 1px solid map-get($mau, main);
			color: #707070;
		}

		+.form-group {
			margin-top: 15px;
		}

		&:before {
			content: '';
			position: absolute;
			width: 28px;
			height: 28px;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			top: 50%;
			transform: translateY(-50%);
			left: 25px;
		}

		&.form-name {
			&:before {
				background-image: url('../assets/form-name.svg');
			}
		}

		&.form-phone {
			&:before {
				background-image: url('../assets/form-phone.svg');
			}
		}

		&.form-mail {
			&:before {
				background-image: url('../assets/form-mail.svg');
			}
		}

		@media (max-width: 1199.98px) {
			input[type="text"] {
				padding: 7px 30px 7px 60px;
				height: 55px;
			}

			&:before {
				left: 18px;
				width: 24px;
				height: 24px;
			}
		}

		@media (max-width: 768px) {
			input[type="text"] {
				padding: 7px 20px 7px 50px;
				height: 45px;
			}

			&:before {
				left: 11px;
				width: 20px;
				height: 20px;
			}
		}
	}

	.form-button {
		font-size: 20px;
		border: 0;
		display: flex;
		justify-content: center;
		margin-top: 35px;

		button,
		a {
			background-color: #D80202;
			border-radius: 20px;
			font-size: 20px;
			color: white;
			border: 0;
			text-transform: uppercase;
			font-weight: 700;
			height: 65px;
			padding: 0 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all .3s ease;

			&:hover,
			&:active {
				background-color: darken(#D80202, 10%);
			}
		}

		@media (max-width: 1024px) {

			button,
			a {
				padding: 0 35px;
				font-size: 18px;
				height: 55px;
			}
		}

		@media (max-width: 768px) {

			button,
			a {
				height: 45px;
				padding: 0 20px;
				font-size: 16px;
			}
		}
	}

	.form-countdown {
		text-align: center;
		margin-top: 30px;

		label {
			color: #707070;
			font-size: 20px;
		}

		.countdown-end {
			background-color: #F9F9F9;
			padding: 10px;
			border-radius: 10px;
			font-size: 20px;
			text-transform: uppercase;
			color: #3462ab;
			font-weight: 700;
		}

		.date-group {
			display: flex;
			justify-content: center;
			margin-top: 10px;

			time {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 65px;
				height: 65px;
				background-color: white;
				border-radius: 10px;
				box-shadow: 0 1px 2px rgba(black, .16);
				margin: 0 10px;
				overflow: hidden;

				span {
					&:nth-child(1) {
						font-size: 25px;
						color: white;
						line-height: 1.15;
						-ms-flex: 0 0 100%;
						-webkit-box-flex: 0;
						flex: 0 0 65%;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: #D80202;
						width: 100%;
					}

					&:nth-child(2) {
						font-size: 10px;
						-ms-flex-preferred-size: 0;
						-ms-flex-positive: 1;
						-webkit-box-flex: 1;
						flex-basis: 0;
						flex-grow: 1;
						display: flex;
						align-items: center;
					}
				}
			}
		}
	}

	&.congratulation {
		padding: 60px 0;

		.block-form-wrapper {
			box-shadow: 0 3px 10px rgba(black, .1);
			max-width: 1250px;
		}

		.block-content {
			max-width: 650px;
			margin: 0 auto;
			border-top: 1px solid rgba(map-get($mau, main), .5);
			border-bottom: 1px solid rgba(map-get($mau, main), .5);
			padding: 25px 0;

			h4 {
				font-size: 20px;
				color: #707070;
				text-transform: uppercase;
				margin-bottom: 5px;
			}

			p {
				color: #707070;
				display: inline-flex;

				b {
					margin: 0 5px;
					white-space: nowrap;
					color: #D80202;
				}

				&:before {
					content: '';
					background-image: url('../assets/checked.svg');
					width: 20px;
					-ms-flex: 0 0 100%;
					-webkit-box-flex: 0;
					flex: 0 0 20px;
					max-width: 20px;
					margin-right: 12px;
					height: 20px;
					background-position: center;
					background-repeat: no-repeat;
					background-size: 20px;
					display: inline-block;
				}

				@media (max-width: 768px) {
					display: inline-block;
				}
			}
		}
	}

	@media (max-width: 1659px) {
		padding-top: 85px;
	}

	@media (max-width: 1439px) {
		padding-top: 75px;
	}

	@media (max-width: 1199px) {
		padding-top: 65px;
	}

	@media (max-width: 1024.98px) {
		padding-top: 55px;
	}

	@media (max-width: 768px) {
		padding-top: 45px;
	}
}