.news-detail-wrapper
	.container
		.img
			img(src='./assets/news/n_1.jpg')
		.content
			time January 14, 2019
			h1 Skechers Honors Manhattan Beach with Two Downtown Mosaics from Acclaimed Artist
			p MANHATTAN BEACH, Calif.--(BUSINESS WIRE)-- Manhattan Beach-based brand Skechers USA, Inc. (NYSE:SKX) recently commissioned renowned mosaic artist Rachel Rodi to create two intricate stained glass mosaics in tribute to its hometown. The mosaics were installed along the newly renovated heritage Skechers store, and were unveiled to the community at its grand opening celebration this week.
			p “Manhattan Beach has been at the heart of the Skechers brand throughout our entire 26-year history – from our first days designing utility shoes in a beach house, to our current corporate offices,” said Michael Greenberg, president of Skechers. “This incredible community has fostered and supported our growth, every step of the way – and we wanted to thank its residents with vivid art pieces that reflect the remarkable beauty of this wonderful town.”
			p Located in the cultural center of Downtown Manhattan Beach, the large-scale mosaics total 230 square feet of outdoor art depicting the city: an abstract interpretation of Manhattan Pier’s sunsets on Manhattan Avenue, and an underwater gallery highlighting the region’s unique sea life on Manhattan Beach Boulevard, in honor of the Roundhouse Aquarium.
			p “This is the first dual-sided mosaic installation that I have had the pleasure of creating on a retail store, and once I met with Skechers, I instantly understood why they call Manhattan Beach home,” added Rachel Rodi, who attended the unveiling. “It was an opportunity to share two personal stories about Manhattan Beach: to foreshadow its iconic pier down the hill, and celebrate the local sea life that is celebrated in the town’s Roundhouse Aquarium.”
			p Mr. Greenberg established the Harrison Greenberg Foundation Roundhouse Aquarium Beautification Project (http://roundhouseaquarium.org/) and is working with the City of Manhattan Beach to revitalize the town’s landmark Roundhouse Aquarium at the end of the pier, restoring its renowned architecture as it transforms its facilities into a groundbreaking interactive aquarium for future generations.
			p Just a few feet from its original location in 1994, the Company’s original store has also been updated to reflect Manhattan Beach’s iconic look – with a newly expanded exterior designed to appear as three separate shops to maintain the town’s village atmosphere. Now approximately 4,800 square feet, the new flagship store will be state of the art – a mid-century modern audio/video showcase offering dedicated Skechers lifestyle and performance shops, a fitting room for the brand’s growing apparel division, and diverse collections for men, women and children.
			p The Skechers heritage store featuring Rachel Rodi’s mosaics is located at 1121 Manhattan Avenue, Manhattan Beach, CA 90266. Patrons can view Rodi’s famed art collections at www.rachelrodi.com and http://www.rachelrodi.com/blog/.
			p About Skechers USA, Inc.
			p Skechers USA, Inc. (NYSE:SKX), based in Manhattan Beach, California, designs, develops and markets a diverse range of lifestyle footwear for men, women and children, as well as performance footwear for men and women. Skechers footwear is available in the United States and over 170 countries and territories worldwide via department and specialty stores, 2,570 Skechers Company-owned and third-party-owned retail stores, and the Company’s e-commerce websites. The Company manages its international business through a network of global distributors, joint venture partners in Asia and the Middle East, and wholly-owned subsidiaries in Canada, Japan, throughout Europe and Latin America. For more information, please visit skechers.com and follow us on Facebook (facebook.com/Skechers) and Twitter (twitter.com/SkechersUSA).
		.social-share
			p Share
			.social-list
				a(target="_blank" href="https://pinterest.com/pin/create/button/?url=")
					<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38">
					<g transform="translate(-1259 -5915)">
					<g class='background' transform="translate(1259 5915)" fill="#fff" stroke="#bcbcbc" stroke-width="0.5">
					<circle cx="19" cy="19" r="19" stroke="none"/>
					<circle cx="19" cy="19" r="18.75" fill="none"/>
					</g>
					<g transform="translate(1270.69 5925.253)">
					<path class='icon' d="M1497.666,87.079c-1.237-.1-1.757-.709-2.727-1.3-.533,2.8-1.185,5.479-3.115,6.88-.6-4.228.875-7.4,1.557-10.774-1.165-1.96.14-5.905,2.6-4.933,3.022,1.2-2.617,7.288,1.168,8.049,3.953.794,5.566-6.858,3.115-9.347-3.541-3.594-10.308-.082-9.476,5.062.2,1.258,1.5,1.639.519,3.375-2.266-.5-2.943-2.29-2.855-4.673.14-3.9,3.505-6.632,6.88-7.011,4.268-.478,8.274,1.568,8.827,5.582.622,4.532-1.927,9.439-6.491,9.087Zm0,0" transform="translate(-1488.442 -72.341)" fill="#777777"/>
					</g>
					</g>
					</svg>
				a(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=")
					<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38">
					<g transform="translate(-1323 -5915)">
					<g class='background' transform="translate(1323 5915)" fill="#fff" stroke="#bcbcbc" stroke-width="0.5">
					<circle cx="19" cy="19" r="19" stroke="none"/>
					<circle cx="19" cy="19" r="18.75" fill="none"/>
					</g>
					<path class='icon' d="M1097.119,76.557h-2.887v9.291h-4.28V76.557h-2.035V72.92h2.035V70.566a4.013,4.013,0,0,1,4.318-4.318l3.171.014v3.53h-2.3a.871.871,0,0,0-.908.991v2.141h3.261Zm.5.109" transform="translate(249.006 5859.006)" fill="#777777"/>
					</g>
					</svg>
				a(target="_blank" href="https://twitter.com/intent/tweet?text=")
					<svg xmlns="http://www.w3.org/2000/svg" width="39" height="38" viewBox="0 0 39 38">
					<g transform="translate(-1387 -5915)">
					<g class='background' transform="translate(1387 5915)" fill="#fff" stroke="#bcbcbc" stroke-width="0.5">
					<ellipse cx="19.5" cy="19" rx="19.5" ry="19" stroke="none"/>
					<ellipse cx="19.5" cy="19" rx="19.25" ry="18.75" fill="none"/>
					</g>
					<g transform="translate(1397.122 5926.46)">
					<path class='icon' d="M1238.582,68.956a7.856,7.856,0,0,1-2.261.62,3.95,3.95,0,0,0,1.731-2.177,7.885,7.885,0,0,1-2.5.955,3.94,3.94,0,0,0-6.709,3.591,11.176,11.176,0,0,1-8.114-4.114,3.94,3.94,0,0,0,1.218,5.256,3.92,3.92,0,0,1-1.783-.493c0,.017,0,.033,0,.05a3.939,3.939,0,0,0,3.158,3.86,3.943,3.943,0,0,1-1.778.068,3.941,3.941,0,0,0,3.678,2.734,7.946,7.946,0,0,1-5.828,1.63,11.2,11.2,0,0,0,17.236-9.432q0-.256-.012-.509a8,8,0,0,0,1.965-2.038Zm0,0" transform="translate(-1219.393 -67.11)" fill="#777777"/>
					</g>
					</g>
					</svg>