mixin newsItem(index)
	.news-item
		a(href='tin-ct.html')
			.img
				img(src="./assets/news/n_" + index + ".jpg", alt="")
			.info
				h3 Skechers Honors Manhattan Beach with Two Downtown Mosaics from Acclaimed Artist
			.viewmore.desktop
				p Xem chi tiết >>