.home-banner {
	#player {
		width: 100%;
	}
}

.index-1 {
	.category-list {
		padding-top: 60px;
	}

	.category-item {
		display: block;
		position: relative;
		overflow: hidden;
		margin-bottom: 20px;

		img {
			width: 100%;
		}

		h3 {
			position: absolute;
			top: 10px;
			left: 10px;
			font-weight: 700;
			text-transform: uppercase;
			z-index: 2;
			transition: all .3s ease-out;
			font-size: 16px;

			@media (min-width: 768px) {
				font-size: 18px;
				top: 20px;
				left: 25px;
			}

			@media (min-width: 1025px) {
				font-size: 20px;
				top: 30px;
				left: 40px;
			}

			@media (min-width: 1440px) {
				top: 40px;
				left: 50px;
				font-size: 28px;
			}
		}

		@media (min-width: 1025px) {
			&:after {
				content: '';
				background: map-get($mau, main);
				position: absolute;
				bottom: 100%;
				right: 0;
				width: 200%;
				height: 100%;
				transition: all .3s ease-out;
				transform-origin: 100% 100%;
				z-index: 1;
				opacity: 0;
			}

			&:hover {
				box-shadow: 0 0 12px rgba(#000000, .15);

				h3 {
					color: white;
				}

				&:after {
					opacity: 1;
					transform: rotate3d(0, 0, 1, -27deg);
				}
			}
		}
		@media (min-width: 1200px) {

		}
	}

	.category-banner {
		padding-top: 80px;

		img {
			width: 100%;
		}

		.swiper-container {

			.swiper-prev,
			.swiper-next {
				cursor: pointer;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				z-index: 2;
				border-top: 75px solid transparent;
				border-bottom: 75px solid transparent;

				svg {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			.swiper-prev {
				left: 0;
				border-left: 75px solid rgba(white, .75);

				svg {
					right: 38px;
				}
			}

			.swiper-next {
				right: 0;
				border-right: 75px solid rgba(white, .75);

				svg {
					left: 38px;
				}
			}

			@media (min-width: 1025px) {
				.swiper-nav {
					opacity: 0;
					transition: all .3s ease-out;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: 100%;
					z-index: 3;
				}

				.swiper-prev {
					&:hover {
						border-left: 75px solid map-get($mau, main);
						transition: all .3s ease-out;

						svg {
							path {
								stroke: white;
								transition: all .3s ease-out;
							}
						}
					}
				}

				.swiper-next {
					&:hover {
						border-right: 75px solid map-get($mau, main);
						transition: all .3s ease-out;

						svg {
							path {
								stroke: white;
								transition: all .3s ease-out;
							}
						}
					}
				}

				&:hover {
					.swiper-nav {
						opacity: 1;
					}
				}
			}

		}
	}

	@media (max-width: 1199.98px) {
		.category-list {
			padding-top: 10px;

			.row {
				margin: 0 -5px;

				.col-xl-3.col-6 {
					padding: 0 5px;
				}

				.category-item {
					margin-bottom: 10px;
				}
			}
		}

		.category-banner {
			padding-top: 10px;
		}

		&.index-sub-banner {
			.container-fluid-custom {
				padding: 0;

				.swiper-nav {
					display: none;
				}
			}

			@media (max-width: 1024.98px) {
				margin-top: 10px;
			}
		}
	}
}

.index-2 {
	padding-top: 80px;
	padding-bottom: 80px;

	.new-product-list {
		padding: 0 100px;
		position: relative;

		.swiper-prev,
		.swiper-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
		}

		.swiper-prev {
			left: 0;
		}

		.swiper-next {
			right: 0;
		}

		@media (max-width: 1199.98px) {
			padding: 0 30px;
		}
	}

	.new-product-item {
		.img {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(white, .2);
				opacity: 0;
				transition: all .3s ease-out;
			}
		}

		.info {
			text-align: center;
			font-family: 'Roboto', sans-serif;

			h3 {
				text-transform: capitalize;
				font-size: 24px;
				font-weight: 700;
			}

			p {
				font-size: 20px;
			}
		}
	}

	@media (min-width: 1025px) {
		.main-title {
			margin-bottom: 0;
		}

		.new-product-item {
			&:hover {
				.img {
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		padding-top: 10px;
		padding-bottom: 10px;

		.main-title {
			text-align: left;
		}

		.new-product-item {

			.info {
				padding-top: 10px;

				h3 {
					font-size: 14px;
					font-weight: 10px;
				}

				p {
					font-size: 12px;
				}
			}
		}

		.new-product-list {
			padding: 0 0;

			.swiper-nav {
				display: none;
			}

			.swiper-container {
				padding: 6px;
				margin: -6px;
			}
		}
	}
}

.index-3 {
	padding-bottom: 70px;

	.home-gallery-viewmore {
		@media (max-width: 1024.98px) {
			margin: 0 -20px;
		}

		.home-gallery-viewmore-button {
			display: block;
			width: 100%;
			height: 80px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			color: white;
			background: #1c1c1c;
			font-size: 20px;
			font-weight: 500;
			transition: all .3s ease-out;

			@media (max-width: 1024.98px) {
				height: 55px;
			}

			@media (max-width: 575.98px) {
				height: 30px;
				font-size: 12px;
			}
		}
	}

	.gallery-item {
		position: relative;
		display: block;
		margin-bottom: 40px;

		.img {
			overflow: hidden;
			background: #000000;
			position: relative;

			img {
				width: 100%;
				transition: all .3s ease-out;
			}

			&:after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 5px;
				background: map-get($mau, main);
				content: '';
				opacity: 0;
				transform: translate3d(0, 50%, 0);
				transition: all .3s ease-out;
			}
		}

		.info {
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			height: 100%;
			padding: 50px;
			display: flex;
			align-items: flex-end;
			color: white;
			text-transform: uppercase;
			font-size: 18px;
			line-height: 1;
			transition: all .3s ease-out;
			white-space: nowrap;

			span {
				position: absolute;
				right: 35px;
				bottom: 40px;
				font-size: 24px;
				transition: all .3s ease-out;
				padding: 10px 15px;
				border-radius: 5px;
			}
		}

		@media (min-width: 1025px) {
			&:hover {
				box-shadow: 0 0 14px rgba(black, .1);

				.img {
					img {
						transform: scale(1.05);
					}

					&:after {
						opacity: 1;
						transform: translate3d(0, 0, 0);
					}
				}
			}
		}
	}

	.home-gallery-list {
		margin: 0 -20px;

		.col-lg-6 {
			padding: 0 20px;
		}
	}


	@media (max-width: 1024.98px) {
		padding: 10px 0 0 0;
		overflow: hidden;

		.home-gallery-list.mobile {
			margin: 0 -5px;

			img {
				width: 100%;
			}

			.row {
				margin: 0 -5px;
				margin-bottom: 10px;
			}

			[class*='col-'] {
				padding: 0 5px;
			}

			.img-big {
				height: 100%;

				img {
					height: 100%;
					width: 100%;
				}
			}

			.img-small {
				box-shadow: 0px 3px 6px rgba(black, .15);
				height: 100%;
				position: relative;

				.info {
					position: absolute;
					z-index: 3;
					bottom: 30px;
					text-transform: uppercase;
					width: 100%;
					left: 0;
					text-align: center;
					padding: 0 40px;
					font-size: 15px;

					@media (max-width: 767.98px) {
						font-size: 13px;
					}

					@media (max-width: 575.98px) {
						padding: 0 10px;
						bottom: 15px;
						font-size: 11px;
					}
				}

				img {
					height: 100%;
					width: 100%;
				}
			}
		}
	}
}

.index-4 {
	padding: 70px 0;
	background: black;
	overflow: hidden;

	.main-title {
		color: white;
	}

	.swiper-container {
		overflow: visible;
		max-width: 1110px;
		margin: 0 auto;

		@media (max-width: 1599.98px) {
			max-width: 950px;
		}

		@media (max-width: 1359.98px) {
			max-width: 800px;
		}

		@media (max-width: 1199.98px) {
			max-width: 650px;
		}
	}

	.swiper-slide {
		.img-wrapper {
			position: relative;
			transform: scale(0.4);
			transition: all .3s ease-out;
			display: block;
		}

		.info {
			padding-top: 50px;
			color: white;
			text-align: center;
			font-family: 'Roboto', sans-serif;
			font-size: 20px;
			padding-bottom: 30px;
			opacity: 0;
			transition: all .3s ease-out;
			visibility: hidden;
		}

		.button {
			display: flex;
			justify-content: center;
			opacity: 0;
			transition: all .3s ease-out;
			visibility: hidden;
		}

		.img {
			img {
				width: 100%;
			}
		}

		.play-button {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&.swiper-slide-active {
			.img-wrapper {
				transform: scale(1);
			}

			.info,
			.button {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	@media (max-width: 1024.98px) {
		display: none;
	}
}