@{
    Layout = null;
}
@model MainProject.ServiceAdmin.Model.FilterViewModel

@if (Model != null)
{
        <div class="col-xs-3">
            <div class="form-group">
                <label>Thành phố</label>
                @Html.DropDownList("filterFather", Model.FatherSelectModel.Fathers, new { @onchange = "Filter(this.value)", @class = "form-control" })
            </div>
        </div>
        <div class="clearfix"></div>

        <script type="text/javascript">
            function Filter(city) {
                if (isNaN(city)) city = 0;

                document.location = "@Model.BaseUrl" + "city=" + city;
            }
        </script>
}

