.dealer-locator-wrapper
	.container
		.row
			.col-lg-auto
				.dealer-locator-finder
					.form-group
						input(type='text' placeholder='Tìm địa chỉ...')
					.form-group
						select
							option Chọn tỉnh/thành phố
							option Hồ Chí Minh
							option Hà Nội
							option Đà Nẵng
					.form-group
						select
							option Chọn quận/huyện
							option Quận 1
							option Quận 2
							option Quận 3
					.dealer-locator-list
						.title Cửa hàng
						.list
							.dealer-locator-item
								h3 Skechers 953 SKECH-953CMTTW7T
								p 953 Cach Mang Thang Tam, ward 7, Tan Binh dist, HCM Cty
								p 8439.259.582
			.col-lg
				#map